<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="components/todomvc-common/base.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section id="todoapp" data-controller="TodoManager">
			<header id="header">
				<h1>todos</h1>
				<input id="new-todo" placeholder="What needs to be done?" autofocus>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section id="main" data-view="TodoList">
				<input id="toggle-all" type="checkbox" data-element>
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list" data-template="ListItem" data-map="list.items">
				</ul>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer id="footer">
				<!-- This should be `0 items left` by default -->
				<span id="todo-count"><strong data-map="list"><%=length%></strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul id="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button id="clear-completed">Clear completed (<%=completedCount%>)</button>
			</footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://github.com/shaunspringer">Shaun Springer</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!--Begin Templates -->
    <script type="text/template" id="ListItem">
    	<% if (!editing && completed) { %>
    		<li class="completed">
    	<% } else if (!completed && editing) { %>
    		<li class="editing">
    	<% } else { %>
    		<li class="view">
    	<% } %>
				<% if (!editing) { %>
					<input class="toggle" type="checkbox" <% if (completed) { %>checked<% }%>>
					<label><%=text%></label>
					<button class="destroy"></button>
				<% } else { %>
					<input class="edit" value="<%=text%>">
				<% } %>
			</li>
    </script>
     <!-- End Templates -->
		<!-- Scripts here. Don't remove this ↓ -->
		<script src="components/todomvc-common/base.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/2.0.0/hogan.js"></script>-->
    <script src="lib/hogan.js"></script>
    <script src="lib/zepto.js"></script>
		<script src="lib/wraith.js"></script>
		<script src="js/src.js"></script>
    <script>
        new Wraith.Bootloader()
    </script>
	</body>
</html>
